$sgrid-row-items: 1;
$sgrid-diamond-scale-up: 1.42;
$sgrid-diamond-scale-down: 0.68;
$sgrid-item-width: 50%;
$sgrid-dropshadow-color: #333;

.schedule-grid {
  max-width: 500px;
  @include diamond-grid(
    2,
    2,
    transparent,
    $cta-color,
    darken($cta-color,10%),
    #fff,
    #fff
  );

  $total-slots: 15;
  $base-bg: $background;
  $treshold: 20;

  @for $i from 1 through $total-slots {
    $alpha: (random(100) / 100 * $treshold);
    $newBackground: adjust-hue( $base-bg , $alpha );
    .dgrid-column:nth-child(#{$i}) > .dgrid-column-inner {
      background: $newBackground;
    }
  }

  .dgrid-column.schedule-item-special > .dgrid-column-inner {
    opacity: 0.8;
  }

  .dgrid-column-hide {
    border: 1px solid red;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 25%;
  }

  .schedule-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(-45deg);
    font-family: $secondary-font-family;
    text-align: center;

    > div {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .schedule-time {
      height: 40%;
      top: 0;
      //opacity: 1;
      font-size: 2.5rem;
      align-items: flex-end;
    }

    .schedule-description {
      //opacity: 0;
      height: 60%;
      top: 40%;
      line-height: 0.9;
      font-size: 2rem;
      align-items: flex-start;
    }
  }

  .dgrid-column-inner.no-hover {
    .schedule-time {
      height: 50%;
    }

    .schedule-description {
      height: 50%;
      top: 50%;
    }
  }

  .dgrid-column-inner:not(.no-hover):hover {
    outline: none;
    cursor: pointer;
  }

  .dgrid-column:focus {
    outline: none;
    cursor: default;
    .dgrid-column-inner:not(.no-hover) {
      background: $cta-color;
    }
  }

  @media screen and (max-width: 450px) { // iPhone 6plus
    .dgrid-column-inner.no-hover {
      .schedule-time {
        font-size: 2.25rem;
        line-height: 1.25;
      }
    }

    .dgrid-column-inner:not(.no-hover) {
      .schedule-time {
        height: 30%;
        font-size: 2.25rem;
      }
      .schedule-description {
        top: 30%;
        font-size: 1.8rem;
      }
    }
  }

  @media screen and (max-width: 375px) { // iPhone 6
    .dgrid-column-inner.no-hover {
      .schedule-time {
        font-size: 2rem;
      }
    }

    .dgrid-column-inner:not(.no-hover) {
      .schedule-time {
        font-size: 2rem;
      }
      .schedule-description {
        font-size: 1.7rem;
      }
    }
  }

  @media screen and (max-width: 321px) { // iPhone 5
    .dgrid-column-inner.no-hover {
      .schedule-time {
        line-height: 1;
      }
      .schedule-description {
        font-size: 1.8rem;
      }
    }

    .dgrid-column-inner:not(.no-hover) {
      .schedule-time {
      }
      .schedule-description {
        font-size: 1.4rem;
      }
    }
  }

}

#schedule-modal {

}

#schedule-modal-title {
  font-family: $secondary-font-family;
  font-size: 2.5em;
  line-height: 1;
}

#schedule-modal-title:before {
  content: '';
  display: inline-block;
  width: (150px * $sgrid-diamond-scale-up);
  height: (150px * $sgrid-diamond-scale-up);
  position: relative;
  margin-right: 10px;
  float: left;
  shape-outside: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);

  @media screen and (max-width: 450px) { // iPhone 6plus
    display: none;
    visibility: hidden;
  }
}

#schedule-modal h4 {
  font-size: 1.3em;
}

.schedule-modal-photo {
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;
  margin: ceil(((150px * $sgrid-diamond-scale-up) - 150px) / 2);
  top: 1rem;
  left: 1rem;

  .schedule-modal-photo-wrapper {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    overflow: hidden;
  }

  img {
    -webkit-transform: rotate(45deg) scale($sgrid-diamond-scale-up);
    transform: rotate(45deg) scale($sgrid-diamond-scale-up);
  }

  @media screen and (max-width: 450px) { // iPhone 6plus
    display: none;
    visibility: hidden;
  }
}

