// bower:scss
@import "bower_components/foundation-sites/scss/foundation.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700);
@import url(https://fonts.googleapis.com/css?family=VT323);

// Calculeate brightness of a given color.
@function brightness($color) {
  @return ((red($color) * .299) + (green($color) * .587) + (blue($color) * .114)) / 255 * 100%;
}

// Compares contrast of a given color to the light/dark arguments and returns whichever is most "contrasty"
@function color-contrast($color, $dark: $dark-text-default, $light: $light-text-default) {
  @if $color == null {
    @return null;
  }
  @else {
    $color-brightness: brightness($color);
    $light-text-brightness: brightness($light);
    $dark-text-brightness: brightness($dark);

    @return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
  }
}

$background: #1b374b;
$light-background: #e5f3fc;

$dark-text-default: #333333;
$light-text-default: #dddddd;

$cta-color: #d97720;
$primary-color: #2a80c5;

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  a:link, a:visited {
    display: inline-block;
    padding: 0 0.2em;
    color: $cta-color;
  }

  a:hover, a:active {
    color: #fff;
    text-decoration: none;
    background: $cta-color;
  }
}

quote {
  position: relative;
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
  margin: 2em 0;
  padding: 1em;
  background: rgba($background, 0.15);
  border-radius: 5px;
  &:after {
    position: absolute;
    right: 20px;
    bottom: -15px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid rgba($background, 0.15);
  }
}

.float-right {
  float: right;
  margin-left: 1em;
}

.float-left {
  float: left;
  margin-right: 1em;
}

@keyframes rotate-nav-item {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(135deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(225deg);
  }
}

$nav-height: 70px;
.main-nav {
  height: $nav-height;
  width: 100%;
  position: relative;
  z-index: 99 !important;
  background: $light-background; //$background;
  color: $background; //$dark-text-default;
  font-family: 'VT323';
  font-size: 25px;
  > .menu {
    height: $nav-height;
    line-height: $nav-height;
  }
  a {
    text-align: center;
    color: inherit;
    position: relative;
    z-index: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    &:hover, &.is-active {
      color: $cta-color;
    }
  }
}

header {
  background: $light-background; //$background;
  color: $light-text-default;
  padding-bottom: 100px;
  position: relative;
  p {
    text-align: center;
    padding: 1em 20%;
    margin: 0;
    font-style: italic;
  }
}

.css-logo {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('/images/css-family-logo.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
  filter: saturate(50%);
  &:hover {
    filter: saturate(100%);
  }
}
/*
h2.logo {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 1.1em;
  text-align: center;
  color: $cta-color;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:nth-child(1) {
      font-size: 1.6em;
    }
    &:nth-child(3) {
      font-size: 0.8em;
      font-weight: 100;
    }
  }
} */

/* .header-title {
  background: $cta-color; //lighten($background, 30%);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 58px;
  //clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: url('/images/layout-shapes.svg#polygon-clip-1');
  overflow: hidden;
  > h2 {
    margin: 0 8% 0 6%;
    font-size: 44px;
    line-height: 0.85;
    text-align: center;
    > span {
      letter-spacing: 0.12em;
    }
  }
  > div {
    display: flex;
    justify-content: space-between;
    margin: 0 6.7%;
    text-align: justify;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
  }
} */

footer {
  min-height: 220px;
  max-width: 100%;
  overflow: hidden;
  background: $background;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    display: block;
    height: 211px;
    width: 1300px;
    right: 0;
    bottom: 0;
    left: 50%;
    margin-left: -650px;
    background: lighten($background, 10%);
    overflow: hidden;
    mask-image: url('/images/oslo-skyline-2.png');
  }
}

.footer-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: $light-text-default;
  font-size: 13px;
  p {
    margin: 0.5em;
    padding: 0;
    line-height: 1.5;
  }
}

$total-sections: 7;
$section-start-background: #cfe8f9;
$section-end-background: $background;

.content {
  background: $section-end-background;
}

.content > section {
  width: 100%;
  padding: 2em 20% 4em 20%;
  position: relative;
}

@for $i from 1 through $total-sections {
  .content > section:nth-child(#{$i}) {
    @if $i == 1 {
      $background: $section-start-background;
    } @else if $i == $total-sections {
      $background: $section-end-background;
    } @else {
      $background: mix($section-start-background, $section-end-background, (100 - ($i / $total-sections * 100)));
    }
    z-index: ($i + 1);
    background: $background;
    color: color-contrast($background);
    > h2:first-child {
      z-index: $i;
      color: $background;
      //text-shadow: -1px -1px 0px rgba(#222, 0.4), 1px 1px 0px rgba(#eee, 0.4);
    }
  }
}

.content > section > h2:first-child {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: -0.1em;
  text-transform: uppercase;
  position: absolute;
  margin: 0;
  top: 0;
  left: 10px;
  transform: translateY(-85%);
  /* &:before {
    content: '#';
  } */
}

.schedule {
  width: 80%;
  margin: 0 auto 100px;;
}

.schedule-item {
  width: 100%;
  max-height: 240px;
  display: flex;
  position: relative;
  justify-content: flex-start;
  transform: translateX(50%);
  left: -67px;
  margin-bottom: -58px;

  &:nth-child(2n+1) {
    justify-content: flex-start;
    flex-direction: row-reverse;
    transform: translateX(-50%);
    left: 67px;
    text-align: right;
  }
}

.schedule-item-image {
  flex-basis: 240px;
  width: 240px;
  height: 240px;
  //clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  > img {
    filter: grayscale(100%);
    clip-path: url('/images/layout-shapes.svg#polygon-clip-1');
  }
}

.schedule-item:hover .schedule-item-image > img {
  filter: grayscale(0%);
  clip-path: url('/images/layout-shapes.svg#polygon-clip-2');
}

.schedule-item-content {
  padding-top: 50px;
}

.schedule-item-time {
  font-size: 16px;
  line-height: 1;
  padding: 0 20px;
  margin: 0;
  margin-top: -5px;
  font-weight: 600;
  color: #444;
  border-bottom: 1px solid #444;
}

.schedule-item-description {
  padding: 0 20px;
  > h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    color: $primary-color;
    &:hover {
      cursor: pointer;
      color: darken($primary-color, 10%);
    }
  }
  > p {
    font-size: 14px;
    margin: 0.5em 0 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms linear;
  }
}

.schedule-item.is-active .schedule-item-description > p {
  max-height: 500px;
}

section#venue {
  padding: 20px 0 70px;
}

#venue-map {
  height: 400px;
  width: 100%;
}

$dgrid-background: $light-background;
$dgrid-item-background: darken($light-background,5%);
$dgrid-item-hover-background: darken($light-background,5%);
$dgrid-item-color: lighten($background, 5%);
$dgrid-item-hover-color: #fff;
$dgrid-item-border-color: $dgrid-background;
$dgrid-item-hover-border-color: $dgrid-background;

$dgrid-item-size: 160px;
$dgrid-item-border-size: 2px;
$dgrid-row-items: 5;
$dgrid-select-rows: 1n + #{$dgrid-row-items + 1};
$dgrid-select-even-rows: #{$dgrid-row-items + $dgrid-row-items - 1}n + #{$dgrid-row-items+1};
$dgrid-select-odd-rows: #{$dgrid-row-items + $dgrid-row-items - 1}n + 1;

$dgrid-min-width: ($dgrid-item-size * 1.45 * $dgrid-row-items);
$dgrid-item-add-size: ($dgrid-item-size / 4.84848484);
$dgrid-margin: $dgrid-item-add-size;
$dgrid-x-align-margin: ($dgrid-item-size / 2) + ($dgrid-margin * 2) - ($dgrid-item-border-size / 2);
$dgrid-y-align-margin: (($dgrid-item-size / 2) + ($dgrid-item-border-size / 2)) * -1;

.diamond-grid {
 //width: 100%;
 width: $dgrid-min-width;
 margin: 0 auto;
 background: $dgrid-background;
}
.diamond-grid > li {
 list-style: none;
 float: left;
 margin: $dgrid-margin;
}
.diamond {
 transition: all 200ms linear;
 height: $dgrid-item-size;
 width: $dgrid-item-size;
 background: $dgrid-item-background;
 color: $dgrid-item-color;
 border: $dgrid-item-border-size solid $dgrid-item-border-color;
 display: block;
 position: relative;
 z-index: 1;
 text-decoration: none;
 transform: rotate(45deg);
 margin-left: (-1 * $dgrid-item-border-size);
}
.diamond:hover {
 cursor: pointer;
 background: $dgrid-item-hover-background;
 color: $dgrid-item-hover-color;
 border-color: $dgrid-item-hover-border-color;
 cursor: default;
}
.diamond-grid>li:nth-child(#{$dgrid-select-rows}) { // Make sure all rows align with the one above (except the first row)
 margin-top: $dgrid-y-align-margin;
}
.diamond-grid>li:nth-child(#{$dgrid-select-even-rows}) { // Make every second row align yly
 margin-left: $dgrid-x-align-margin;
 clear: left;
}
.diamond-grid>li:nth-child(#{$dgrid-select-odd-rows}) {
 clear: left;
}
.text {
 transition: all 200ms linear;
 width: $dgrid-item-size;
 height: $dgrid-item-size;
 font-family: 'VT323', 'Open Sans',sans-serif;
 font-size: 30px;
 text-transform:  uppercase;
 display: table-cell;
 vertical-align: middle;
 transform: rotate(-45deg);
 text-align: center;

 &.small {
  line-height: 1;
  > small {
    font-size: 20px;
  }
 }
}

$logo-letter-background: $background; //darken($light-background,15%);
$logo-letter-color: $light-background;
$logo-letter-hover-background: $light-background; //$cta-color;
$logo-letter-hover-color: #fff;

.logo-label {
  display: block;
  padding: 3px 10px;
  position: absolute;
  z-index: 98;
  bottom: -2px;
  left: 20%;
  background: $cta-color; //$background;
  color: #fff;
  font-size: 14px;
  transform-origin: top left;
  transform: translateY(100%);
  //transform: rotate(-90deg);
  border-radius: 0 0 3px 3px;
}

.logo-letter {
  background: $logo-letter-background;
  position: relative;
  z-index: 97;
  svg {
    margin: 0 35px;
    > rect {
      fill: $light-background;
      stroke: $logo-letter-background;
      stroke-width: 2;
      transition: all 200ms linear;
    }
  }

  &:hover {
    background: $logo-letter-hover-background;
    svg {
      > rect {
        fill: $logo-letter-hover-color;
        stroke: $logo-letter-hover-background;
      }
    }
  }
}

.tickets {
  background: $cta-color;
  .text {
    font-weight: 400;
    color: #fff;
  }
  &:hover {
    background: #fff;
    .text {
      color: $cta-color;
    }
  }
}



