<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title>CSSConf.no</title>
  </head>
  <body>
    &lt;style&gt;<br>
    body {<br>
    &nbsp;background-color: 'coming-soon';<br>
    }<br>
    &lt;/style&gt;
  </body>
</html>
